.Discounts{
    position: absolute;
    font-size:xx-large;
    font-weight: 600;
}
/* tablets */
@media screen and (max-width: 767px){
    .Discounts{
        position: absolute;
        font-size: medium;
        max-width: 300px;
        max-height: 50px;
        left: 190px;
        top: 100px;

    }
}
