.signup .container {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
}

.signup .left {
    text-align: center;
}

.left-img {
    width: 300px;
}

.left-img:hover {
    transform: scale(1.0);
    transition: 0.5s ease-in-out;
}

.signup .right p {
    margin: 2rem 0;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-input {
    width: 200px;
    height: 30px;
    margin: 10px;
}

.login-btn {
    width: 200px;
    height: 30px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    background-color: green;
    border-radius: 5px;
    color: #fff;
}

.error-text {
    font-size: 12px;
    color: red;
    margin-top: 10px;
}

.sign-in {
    background-color: #118c4f;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
}

.left-img {
    height: 500px;
    width: 500px;
    align-items: center;
}

@media screen and (max-width: 940px) {
    .signup .container {
        grid-template-columns: 1fr;
    }
}